@{
    ViewBag.Title = "Home Page";
}

<!-- Start cerusol-->
<!--
Please note, that you can apply .m--global-blending-active to .fnc-slider
to enable blend-mode for all background-images or apply .m--blend-bg-active
to some specific slides (.fnc-slide). It's disabled by default in this demo,
because it requires specific images, where more than 50% of bg is transparent or monotone
-->
<!--END-->
<section class="login">
    <div class="row">
        <div class="offset-md-1 d-md-block d-none"></div>
        <div class="col-md-10 col-12">
            <div class="inner rounded">
                <div class="row">
                    <div class="col-12 d-md-block d-none" style="height: 50px;"></div>
                    <div class="col-md-6" id="auto-login">
                        <h4>Login with social networks</h4>
                        <div class="dropdown-divider"></div>
                        <div class="Btns">
                            <center>
                                <div class="col-12 d-md-block d-none" style="height: 50px;"></div>
                                <div class="col-12">
                                    <button class="btn" id="fBtn">
                                        <div class="row">
                                            <div class="col-2">
                                                <i class="fab fa-facebook-f"></i>
                                            </div>
                                            <div class="col-10" style="border-left: 2px solid white; margin-left: 15px;">
                                                Facebook
                                            </div>
                                        </div>
                                    </button>
                                </div>
                                <div class="col-12">
                                    <button class="btn" id="gBtn">
                                        <div class="row">
                                            <div class="col-2">
                                                <i class="fab fa-google-plus-g"></i>
                                            </div>
                                            <div class="col-10" style="border-left: 2px solid white; margin-left: 15px; ">
                                                Google
                                            </div>
                                        </div>
                                    </button>
                                </div>
                            </center>
                        </div>
                    </div>
                    <div class="col-md-6" id="manual-login">
                        <h4>Login with your site account</h4>
                        <div class="dropdown-divider"></div>
                        <center>
                            <div class="container">
                                <div class="col-12">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon1">@@</span>
                                        </div>
                                        <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="input-group mb-3">
                                        <input type="password" class="form-control" placeholder="Password" aria-label="Recipient's username" aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-secondary" type="button"><i class="fa fa-eye"></i></button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="customCheck1">
                                                <label class="custom-control-label" for="customCheck1" style="color: #881125; float: left">Remember me</label>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <a href="" style="float: right">Lost your password?</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12" id="signin">
                                    <button type="button" class="btn btn-secondary">Secondary</button>
                                </div>
                            </div>
                        </center>
                    </div>
                </div>
            </div>
        </div>
        <div class="offset-md-1 d-md-block d-none"></div>
    </div>
</section>
<!--Start Search-bar-->
<section class="search-bar">
    <div class="row">
        <div class="offset-md-3 d-md-block d-none"></div>
        <div class="col-12 col-md-6">
            <div class="search-bar-inner rounded">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Search.." aria-label="Recipient's username" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button"><i class="fas fa-search"></i></button>
                    </div>
                </div>

            </div>
        </div>
        <div class="offset-md-3 d-md-block d-none"></div>
    </div>
</section>
<!--End Search-bar-->
<!--Loading screen-->
<section class="overlay">
    <div class="bookshelf_wrapper">
        <ul class="books_list">
            <li class="book_item first"></li>
            <li class="book_item second"></li>
            <li class="book_item third"></li>
            <li class="book_item fourth"></li>
            <li class="book_item fifth"></li>
            <li class="book_item sixth"></li>
        </ul>
        <div class="shelf"></div>
    </div>

</section>
<!--END-->
<!--Start Tutorial section-->
<section class="myTut">
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators ">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" style="background-color:red">
        <div class="carousel-item active">
             <div class="row" style="padding: 90px 25px 50px 25px">
                <div class="col-lg-6">
                    <div class="tv-wrapper">
                        <div class="tv-space">
                            <div class="tv-border">
                                <div class="tv-container">
                                    <img class="img-fluid" src="~/Content/Images/promo_img_1.png" />
                                </div>
                                <div class="tv-nav obazhure"></div>
                            </div>
                            <div class="tv-leg"></div>
                            <div class="tv-step"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <p style="font-size: 18px; color: #a6a6a6">Author Name</p>
                    <h3 style="color: #fff; font-weight: bold">Tutorial title</h3>
                    <p style="font-size: 18px; color: #a6a6a6; margin-bottom: 30px;"> We want to tell your brand’s story with quality content that will help you inspire your audience, build meaningful connections and grow your success. Different marketing goals mean different content tools.</p>
                    <p>Topic</p>
                    <p>Branch</p>
                    <p>Total length</p>
                    <button type="button" class="btn btn-light">Light</button>
                </div>
            </div>
        </div>
        <div class="carousel-item">
             <div class="row" style="padding: 90px 25px 50px 25px">
                <div class="col-lg-6">
                    <div class="tv-wrapper">
                        <div class="tv-space">
                            <div class="tv-border">
                                <div class="tv-container">
                                    <img class="img-fluid" src="~/Content/Images/promo_img_1.png" />
                                </div>
                                <div class="tv-nav obazhure"></div>
                            </div>
                            <div class="tv-leg"></div>
                            <div class="tv-step"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <p style="font-size: 18px; color: #a6a6a6">Author Name</p>
                    <h3 style="color: #fff; font-weight: bold">Tutorial title</h3>
                    <p style="font-size: 18px; color: #a6a6a6; margin-bottom: 30px;"> We want to tell your brand’s story with quality content that will help you inspire your audience, build meaningful connections and grow your success. Different marketing goals mean different content tools.</p>
                    <p>Topic</p>
                    <p>Branch</p>
                    <p>Total length</p>
                    <button type="button" class="btn btn-light">Light</button>
                </div>
            </div>
        </div>
        <div class="carousel-item">
             <div class="row" style="padding: 90px 25px 50px 25px">
                <div class="col-lg-6">
                    <div class="tv-wrapper">
                        <div class="tv-space">
                            <div class="tv-border">
                                <div class="tv-container">
                                    <img class="img-fluid" src="~/Content/Images/promo_img_1.png" />
                                </div>
                                <div class="tv-nav obazhure"></div>
                            </div>
                            <div class="tv-leg"></div>
                            <div class="tv-step"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <p style="font-size: 18px; color: #a6a6a6">Author Name</p>
                    <h3 style="color: #fff; font-weight: bold">Tutorial title</h3>
                    <p style="font-size: 18px; color: #a6a6a6; margin-bottom: 30px;"> We want to tell your brand’s story with quality content that will help you inspire your audience, build meaningful connections and grow your success. Different marketing goals mean different content tools.</p>
                    <p>Topic</p>
                    <p>Branch</p>
                    <p>Total length</p>
                    <button type="button" class="btn btn-light">Light</button>
                </div>
            </div>
        </div>
    </div>
</div>
    </section>
<!---->