@model Hbsthalk.Models.Tutorial
@{
    ViewBag.Title = "Home";
}

<!-- Start cerusol-->
<!--
Please note, that you can apply .m--global-blending-active to .fnc-slider
to enable blend-mode for all background-images or apply .m--blend-bg-active
to some specific slides (.fnc-slide). It's disabled by default in this demo,
because it requires specific images, where more than 50% of bg is transparent or monotone
-->
<!--END-->
<section class="login">
    <div class="row">
        <div class="offset-md-1 d-md-block d-none"></div>
        <div class="col-md-10 col-12">
            <div class="inner rounded">
                <div class="row">
                    <div class="col-12 d-md-block d-none" style="height: 50px;"></div>
                    <div class="col-md-6" id="auto-login">
                        <h4>Login with social networks</h4>
                        <div class="dropdown-divider"></div>
                        <div class="Btns">
                            <center>
                                <div class="col-12 d-md-block d-none" style="height: 50px;"></div>
                                <div class="col-12">
                                    <button class="btn" id="fBtn">
                                        <div class="row">
                                            <div class="col-2">
                                                <i class="fab fa-facebook-f"></i>
                                            </div>
                                            <div class="col-10" style="border-left: 2px solid white; margin-left: 15px;">
                                                Facebook
                                            </div>
                                        </div>
                                    </button>
                                </div>
                                <div class="col-12">
                                    <button class="btn" id="gBtn">
                                        <div class="row">
                                            <div class="col-2">
                                                <i class="fab fa-google-plus-g"></i>
                                            </div>
                                            <div class="col-10" style="border-left: 2px solid white; margin-left: 15px; ">
                                                Google
                                            </div>
                                        </div>
                                    </button>
                                </div>
                            </center>
                        </div>
                    </div>
                    <div class="col-md-6" id="manual-login">
                        <h4>Login with your site account</h4>
                        <div class="dropdown-divider"></div>
                        <center>
                            <div class="container">
                                <div class="col-12">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon1">@@</span>
                                        </div>
                                        <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1" id="signUserName">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="input-group mb-3">
                                        <input type="password" class="form-control" placeholder="Password" aria-label="Recipient's username" aria-describedby="basic-addon2" id="signPassword">
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-secondary" type="button"><i class="fa fa-eye"></i></button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="customCheck1">
                                                <label class="custom-control-label" for="customCheck1" style="color: #881125; float: left">Remember me</label>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <a href="" style="float: right">Lost your password?</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12" id="signin">
                                    <button type="button" class="btn btn-secondary" onclick="signIn()">Sign in</button>
                                </div>
                            </div>
                        </center>
                    </div>
                </div>
            </div>
        </div>
        <div class="offset-md-1 d-md-block d-none"></div>
    </div>
</section>
<!--Start Search-bar-->
<section class="search-bar">
    <div class="row">
        <div class="offset-md-3 d-md-block d-none"></div>
        <div class="col-12 col-md-6">
            <div class="search-bar-inner rounded">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Search.." aria-label="Recipient's username" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button"><i class="fas fa-search"></i></button>
                    </div>
                </div>

            </div>
        </div>
        <div class="offset-md-3 d-md-block d-none"></div>
    </div>
</section>
<!--End Search-bar-->
<!--Loading screen-->
<section class="overlay">
    <div class="bookshelf_wrapper">
        <ul class="books_list">
            <li class="book_item first"></li>
            <li class="book_item second"></li>
            <li class="book_item third"></li>
            <li class="book_item fourth"></li>
            <li class="book_item fifth"></li>
            <li class="book_item sixth"></li>
        </ul>
        <div class="shelf"></div>
    </div>

</section>
<!--END-->
<!--Start Tutorial section-->
@{ 
    int tutorialNum = ViewBag.homeTutorial.Count;
}
    @if (tutorialNum == 0)
    {
        <div class="row" style="padding:50px 0px 50px 0px; background-color:#f0f0f0">
            <div class="col-xl-5"></div>
            <div class="col-xl-4 container">
                <svg xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" version="1.1" id="blinking-eye" class="blinking-eye">
                    <defs>
                        <path id="blinking-eye__outline" d="m 126.71955,115.09305 c 26.76653,-0.009 48.46008,-21.263555 48.46008,-47.478982 0,-26.215426 -21.69355,-47.469809 -48.46008,-47.478988 l 0,0 -52.730732,0 0,0.07181 c -26.020012,0.991777 -46.591907,21.939513 -46.591907,47.443086 0,25.50358 20.571895,46.451312 46.591907,47.443082 l 0,0.0718 52.730732,0 0,0 0,0 0,0 z" />
                        <mask id="blinking-eye__mask">
                            <rect width="100%" height="100%" fill="white"></rect>
                            <use xlink:href="#blinking-eye__outline" class="blinking-eye__lid-mask" fill="black" />
                        </mask>
                    </defs>
                    <path class="blinking-eye__rim" d="m136.37062 0.1024404c36.75062 0.01309 66.536 30.3254356 66.536 67.7130816 0 37.387638-29.78538 67.699988 -66.536 67.713078l0 0 -72.39963 0 0 -0.10243C28.245344 134.01174 0 104.13672 0 67.764307 0 31.39189 28.245344 1.5168685 63.97099 0.1024404l0 -0.1024404 72.39963 0 0 0 0 0 0 0zm -10.97574 20.2831936 -49.843977 0 0 0.102441c -26.583453 1.331724 -47.830077 22.02468 -47.830077 47.429891 0 25.405213 21.145929 46.098164 47.830077 47.327444l0 0.10244 49.944667 0c27.38902 -0.5122 49.54189 -21.51247 49.54189 -47.429884 0 -25.917414 -22.05218 -46.91769 -49.44119 -47.429891l0 0z" />
                    <ellipse class="blinking-eye__pupil" ry="29.786814" rx="30.002792" cy="67.910522" cx="101.96945" />
                    <use xlink:href="#blinking-eye__outline" mask="url(#blinking-eye__mask)" class="blinking-eye__lid" />
                </svg>
                <h1 style="margin-left:20px">Coming soon...</h1>
            </div>
            <div class="col-xl-3"></div>
        </div>
    }
    else
    {
        <section class="myTut">
           <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators ">
                @for (int i = 0; i < tutorialNum; i++)
                {
                    if (i == 0)
                    {
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active">
                            <img src="~/Content/Images/Yosef Amer 20141103_123040.jpg" alt="omk" />
                        </li>
                    }
                    else
                    {
                        <li data-target="#carouselExampleIndicators" data-slide-to="1">
                            <img src="~/Content/Images/Yosef Amer 20141103_123040.jpg" alt="omk" />
                        </li>
                    }
                }
            </ol>
            <div class="carousel-inner">
                @for (int i = 0; i < tutorialNum; i++)
                {
                    if (i == 0)
                    {
                        <div class="carousel-item active">
                            <div class="row" style="padding: 90px 25px 50px 25px">
                                <div class="col-lg-6">
                                    <div class="tv-wrapper">
                                        <div class="tv-space">
                                            <div class="tv-border">
                                                <div class="tv-container">
                                                    <img class="img-fluid" src="~/Content/Images/noTutorial.jpg" />
                                                </div>
                                                <div class="tv-nav obazhure"></div>
                                            </div>
                                            <div class="tv-leg"></div>
                                            <div class="tv-step"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <h3 style="color: #881125; font-weight: bold; font-style:oblique; ">Coming soon</h3>
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="carousel-item">
                            <div class="row" style="padding: 90px 25px 50px 25px">
                                <div class="col-lg-6">
                                    <div class="tv-wrapper">
                                        <div class="tv-space">
                                            <div class="tv-border">
                                                <div class="tv-container">
                                                    <img class="img-fluid" src="~/Content/Images/noTutorial.jpg" />
                                                </div>
                                                <div class="tv-nav obazhure"></div>
                                            </div>
                                            <div class="tv-leg"></div>
                                            <div class="tv-step"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <h3 style="color: #881125; font-weight: bold; font-style:oblique; ">Coming soon</h3>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
        </section>
    }
<!---->