<div class="filter-panel">
    <div class="tree-wrapper">
        <div class="tree">
            <ul>
                <li>
                    <span>عربى</span>
                    <ul>
                        <li id="Arab1" >نحو</li>
                        <li id="Arab2">بلاغة</li>
                        <li id="Arab3">ادب</li>
                        <li id="Arab4">نصوص</li>
                        <li id="Arab5">قصة</li>
                        <li id="Arab6">قراءة</li>
                    </ul>
                </li>
                <li>
                    <span>English</span>
                    <ul>
                        <li id="Eng1">Grammer</li>
                        <li id="Eng2">Novel</li>
                        <li id="Eng3">Translation</li>
                        <li id="Eng4">Situations</li>
                        <li id="Eng5">Comprehension</li>
                    </ul>
                </li>
                <li>
                    <span>Français</span>
                    <ul>
                        <li id="Fren1">Grammaire</li>
                        <li id="Fren2">Situations</li>
                        <li id="Fren3">Compréhension</li>
                    </ul>
                </li>
                <li>
                    <span>Deutsch</span>
                    <ul>
                        <li id="Ger1">Grammatik</li>
                        <li id="Ger2">Situationen</li>
                    </ul>
                </li>
                <li>
                    <span>Italiano</span>
                    <ul>
                        <li id="Ita1">grammatica</li>
                        <li id="Ita2">situazioni</li>
                        <li id="Ita3">comprensione</li>
                    </ul>
                </li>
                <li>
                    <span>Mathematics</span>
                    <ul>
                        <li id="Math1">Algebra & solid</li>
                        <li id="Math2">Calclus</li>
                        <li id="Math3">Dynamics</li>
                        <li id="Math4">Statics</li>
                    </ul>
                </li>
                <li>
                    <span>Chemistry</span>
                    <ul>
                        <li id="Chem1">Organic chemistry</li>
                        <li id="Chem2">Non-Organic</li>
                    </ul>
                </li>
                <li>
                    <span>Biology</span>
                    <ul>
                        <li id="Bio1">Living organisms</li>
                        <li id="Bio2">Molecular Biology</li>
                    </ul>
                </li>
                <li>
                    <span>جيلوجيا وعلوم البيئة</span>
                    <ul>
                        <li id="Gelo1">الجيولوجية</li>
                        <li id="Gelo2">علوم بيئة</li>
                    </ul>
                </li>
                <li>
                    <span>جغرافيا</span>
                    <ul>
                        <li>Modern Physics</li>
                        <li>Electricity</li>
                    </ul>
                </li>
                <li>
                    <span>تاريخ</span>
                    <ul>
                        <li>Modern Physics</li>
                        <li>Electricity</li>
                    </ul>
                </li>
                <li>
                    <span>Physics</span>
                    <ul>
                        <li id="Phy1">Modern Physics</li>
                        <li id="Phy2">Electricity</li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>