<div class="filter-panel">
    <div class="tree-wrapper">
        <div class="tree">
            <ul>
                <li>
                    <span>عربى</span>
                    <ul>
                        <li>نحو</li>
                        <li>بلاغة</li>
                        <li>ادب</li>
                        <li>نصوص</li>
                        <li>قصة</li>
                        <li>قراءة</li>
                    </ul>
                </li>
                <li>
                    <span>Math</span>
                    <ul>
                        <li>Algebra & solid</li>
                        <li>Calclus</li>
                        <li>Dynamics</li>
                        <li>Statics</li>
                    </ul>
                </li>
                <li>
                    <span>Physics</span>
                    <ul>
                        <li>Modern Physics</li>
                        <li>Electricity</li>
                    </ul>
                </li>
                <li>
                    <span>English</span>
                    <ul>
                        <li>Grammer</li>
                        <li>Novel</li>
                    </ul>
                </li>
                <li>
                    <span>جيلوجيا</span>
                    <ul>
                        <li>Modern Physics</li>
                        <li>Electricity</li>
                    </ul>
                </li>
                <li>
                    <span>Chemistry</span>
                    <ul>
                        <li>Organic chemistry</li>
                        <li>adfsf</li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="filter-box jumbotron" style="background-color:#f0f0f0">

        <hr class="my-5" />
        <a class="btn btn-success" href="#" role="button">Filter</a>
    </div>
</div>